<!-- <h1>
  {{title}}
</h1> -->

<!-- <div class="class" [innerHTML]="inner"></div>
<a [href]="trustedUrl">click me!</a>
 -->
<!-- <button routerLink="/customers">Customers</button>
<button routerLink="/orders/landing">Orders</button>
<button routerLink="">Home</button> -->
<!-- <div class="class" id="div1" style="height:100vh">
  <a href="#div2">archor1</a>im div1
</div>
<div class="class" id="div2" style="height:100vh">
  im div2
  <a href="#div1">archor2</a>
</div> -->
<router-outlet></router-outlet>
