<div class="container">
  <div class="landing">
    <div class="body">
      <div class="sub-body">im body</div>
      <div class="sub-body">im body</div>
      <div class="sub-body">im body</div>
      <div class="sub-body">im body</div>
      <div class="sub-body">im body</div>
      <div class="sub-body">im body</div>
      <div class="sub-body">im body</div>
      <div class="sub-body">im body</div>
      <div class="sub-body">im body</div>
      <div class="sub-body">im body</div>
      <div class="sub-body">im body</div>
      <div class="sub-body">im body</div>
      <div class="sub-body">im body</div>
      <div class="sub-body">im body</div>
      <div class="sub-body">im body</div>
      <div class="sub-body">im body</div>
      <div class="sub-body">im body</div>
      <div class="sub-body">im body</div>
      <div class="sub-body">im body</div>
      <div class="sub-body">im body</div>
      <div class="sub-body">im body</div>
      <div class="sub-body">im body</div>
      <div class="sub-body">im body</div>
      <div class="sub-body">im body</div>
      <div class="sub-body">im body</div>
      <div class="sub-body">im body</div>
      <div class="sub-body">im body</div>
      <div class="sub-body">im body</div>
      <div class="sub-body">im body</div>
      <div class="sub-body">im body</div>
      <div class="sub-body">im body</div>
      <div class="sub-body">im body</div>
      <div class="sub-body">im body</div>
      <div class="sub-body">im body</div>
      <div class="sub-body">im body</div>
      <div class="sub-body">im body</div>
      <div class="sub-body">im body</div>
      <div class="sub-body">im body</div>
      <div class="sub-body">im body</div>
      <div class="sub-body">im body</div>
      <div class="sub-body">im body</div>
      <div class="sub-body">im body</div>
      <div class="sub-body">im body</div>
      <div class="sub-body">im body</div>
    </div>
    <div class="footer">
      <!-- <div class="sub-body">im footer</div>
      <div class="sub-body">im footer</div>
      <div class="sub-body">im footer</div>
      <div class="sub-body">im footer</div>
      <div class="sub-body">im footer</div>
      <div class="sub-body">im footer</div>
      <div class="sub-body">im footer</div>
      <div class="sub-body">im footer</div> -->
      <div class="sub-body">im footer</div>
    </div>
  </div>
</div>
